*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.heading h2{
  text-align: center;
  font-size: 40px;
  color:#f57c00;
  font-weight:400;
}

/*NAVIGATION BAR*/
nav#head{
  background-color:#8f8c8c;
  border-radius: 0;
  border-bottom: 2px solid #f57c00;  
}
.navbar-brand h1{
  margin-top:0;
  color:white;  
}
.navbar-header button.navbar-toggle {
  margin-top: -10px;
}
/*CONTENT*/
div.content{
  border:1px solid #f57c00;
  background-color:#f4f4f4;
  margin: 0 50px 0 50px;
}
p{
  color:#212529;
  letter-spacing: 1px;
  font-size:140%;
  font-weight: 100;
  line-height: 140%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom:3%;;
}
h3{
  text-align: center;
  color:#f57c00;
}
section{
  height: 500px;
}
#btn{
  border:2px solid white;
  margin-top: 20px;
}
span.icon-bar{
  border: 1px solid white;
}
#nav-list li{
  color: #f57c00;
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid #f57c00;
  font-weight: bold;
}
#nav-list{
  background-color:#f4f4f4 ;  
}
@media(max-width:767px){

}


